%tr.fields
  %td{:style=>"width: 30%;"}
    = f.input :name, :label=>false, :placeholder=> "imaging name"
  %td{:style=>"width: 30%;"}
    = f.input :result, :label=>false, :placeholder=> "imaging result"
  %td.pull-right
    = link_to_remove_fields "Delete", f
